@using System.Web.Configuration
@model IEnumerable<PowerDeploy.Dashboard.DataAccess.Entities.Package>

@{
    
}


<div class="row">
    <h4>Package details</h4>
    <hr />

    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NugetId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.First().NugetId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.First().Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Authors)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.First().Authors)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.First().Description)
            </dd>
        </dl>
    </div>

    <div class="col-md-6">
        <table class="table table-bordered table-hover table-condensed">
            <tr>
                <th>@Html.DisplayNameFor(m => m.Version)</th>
                <th>@Html.DisplayNameFor(m => m.Published)</th>
                <th>@Html.DisplayNameFor(m => m.PackageSize)</th>
            </tr>

            @foreach (var p in @Model)
            {
                <tr>
                    <td>@p.NugetId <span class="label label-primary">@p.Version</span></td>
                    <td>@p.Published</td>
                    <td>@p.PackageSize.ToHumanReadableBytes()</td>
                </tr>
            }
        </table>
    </div>

    <div class="row">
        @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
        
        <a href="#" class="btn btn-primary pull-right">Deploy</a>
        <select class="pull-right">
            <option>DEV</option>
            <option>TEST</option>
            <option>PROD</option>
        </select>
        
        @*<div class="col-md-3">
            
        </div>*@
    </div>
    
    <div class="row">
        
    </div>
</div>