@model List<IGrouping<string, PowerDeploy.Dashboard.DataAccess.Entities.Package>>

@{
    ViewBag.Title = "Packages";
}

<table class="table table-bordered table-hover table-condensed">
    <tr>
        <th>@Html.DisplayNameFor(m => m.FirstOrDefault().First().Id)</th>
        <th>Versions</th>
        <th>Published</th>
    </tr>
    @foreach (var p in @Model)
    {
        <tr>
            <td>@Html.ActionLink(p.Key, "Detail", new { id = p.Key + "/" })</td>
            <td><span class="label label-primary">@p.Max().Version</span> <span class="badge">@p.Count()</span></td>
            <td>@p.Max().Published</td>
        </tr>
    }
</table>