@model MovieFavorites.Contract.MovieDto

@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<fieldset>
    <legend>MovieDto</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Year)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Year)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Teaser)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Teaser)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TmdbId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TmdbId)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Cover)
    </div>
    <div class="display-field">
        <img src="@Model.Cover" />
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fanart)
    </div>
    <div class="display-field">
        <img src="@Model.Fanart" />
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
